.root {
  -fx-font: 13px "Courier";
  -fx-focus-color: transparent;
}

.combo-box .list-cell {
  -fx-background-color: #f6ca83;
  -fx-padding: 10px;
}

.button {
  -fx-background-color: #f6ca83;
  -fx-padding: 10px;
  -fx-border-insets: 5px;
  -fx-background-insets: 5px;
}

.slider {
  -fx-background-color: #f6ca83;
  -fx-padding: 10px;
  -fx-border-insets: 5px;
  -fx-background-insets: 5px;
}

.color-picker {
  -fx-background-color: #f6ca83;
  -fx-padding: 10px;
  -fx-border-insets: 5px;
  -fx-background-insets: 5px;
}

.text-field {
  -fx-background-color: #f6ca83;
  -fx-padding: 10px;
  -fx-border-insets: 5px;
  -fx-background-insets: 5px;
}

.menu-bar {
  -fx-background-color: #d3d3d3;
}

/* Table styling */

#column_header_location {
  -fx-background-color: #c69db8;
}

#column_city {
  -fx-background-color: #e8d1e3;
}

#column_state {
  -fx-background-color: #f6e8f4;
}

#column_country {
  -fx-background-color: #e8d1e3;
}

#column_lat {
  -fx-background-color: #f6e8f4;
}

#column_lon {
  -fx-background-color: #e8d1e3;
}

#column_header_stats {
  -fx-background-color: #dd7373;
}

#column_confirmed {
  -fx-background-color: #f5bfbd;
}

#column_deaths {
  -fx-background-color: #eeaaa8;
}

#column_recovered {
  -fx-background-color: #f5bfbd;
}

#column_active {
  -fx-background-color: #eeaaa8;
}
