.root {
    -fx-font: 13px "Courier";
    -fx-padding: 10;
}


.combo-box .list-cell {
    -fx-background-color: #F6CA83;
}

.button {
    -fx-background-color: #F6CA83;
}

.slider{
	-fx-background-color: #F6CA83
}

.color-picker{
	-fx-background-color: #F6CA83
}

